.row
  .container
    .redColor
      %h1= "Заявка №: #{@ticket.ticket_name}"
      %hr
    .row.col-sm-12
      .myTable
        %table
          %tr
            %td
              %strong= "Имя: "
            %td= "#{@ticket.customer_name}"
          %tr
            %td
              %strong= "Email: "
            %td= "#{@ticket.customer_email}"
          %tr
            %td
              %strong= "Тема: "
            %td= "#{@ticket.subject}"
          %tr
            %td
              %strong= "Содержание: "
            %td= "#{@ticket.description}"
          %tr
            %td
              %strong= "Статус: "
            %td= "#{@ticket.status.name}"
          %tr
            %td
              %strong= "Команда: "
            %td= "#{@ticket.team.name}"
      %hr

  .container
    .row.col-sm-12
      = render 'shared/ticketlog', {logs: @logs}
  .clearfix