.panel-body
  = form_for :logs, url: admin_logs_url, html: {class: 'form-horizontal', role: 'form'} do |f|

    .form-group
      = label_tag :status_id, 'Change status ticket'
      = f.collection_select(:status_id, @status.order(:name), :id, :name, {:selected => @ticket.status_id} ,  {class:'form-control'})
      = label_tag :solution_description, 'Solution Description'
      = f.text_area :solution_description, class: 'form-control', cols: 20, rows: 7
      = hidden_field_tag "logs[ticket_id]", @ticket.id
      = hidden_field_tag "logs[committer_id]", current_user.id
    .form-group
      = f.submit 'Send', class: 'form-control btn btn-primary submit-button'