!!!
%html
  %head
    %meta{charset: 'utf-8'}

  %body
    %h1= "Уважаемый #{@ticket.customer_name}!"
    %p= "По Вашей заявке #{@ticket.ticket_name} Вам было отправлено сообщение: "
    %p= "#{@log.solution_description}"
    %p= "Вы можете посмотреть статус заявки и прочитать текст сообщения по следующей ссылке: #{link_to(root_url, { controller: 'dashboard', action: 'show', id: @ticket.ticket_name })} %>"
    %p= 'Спасибо за обращение в нашу службу техподдержки!'