%h1 Список заявок
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %th= 'Тема, ID'
        %th= 'Автор заяки'
        %th= 'Назначена'
        %th= 'Статус'
        %th= 'Дата'
        %th= 'Содержание'
        %th
      .pull-right
      - unless @tickets.blank?
        - @tickets.each do |ticket|
          %tr
            %td
              %p= "#{ticket.subject}"
              %p= "#{ticket.ticket_name}"
            %td
              %p= "Имя: #{ticket.customer_name}"
              %p= "Email: #{ticket.customer_email}"
            %td
              %p= "Команда: #{ticket.team.name}"
              %p= "Исполнитель: #{ticket.user.full_name}"
            %td
              = "#{ticket.status.name}"
            %td
              %p= "Создана: #{ticket.created_at}"
              %p= "Обновлена: #{ticket.updated_at}"
            %td
              = "#{ticket.description}"
            %td
              .pull-left
                - case ticket.status_id
                  - when 1
                    = link_to 'Назначить мне', admin_assign_for_me_ticket_path(ticket.ticket_name), class: 'btn btn btn-primary btn-sm'
                  - when 2
                    = link_to 'Взять в работу', admin_start_working_ticket_path(ticket.ticket_name), class: 'btn btn btn-primary btn-sm'
                  - when 3
                    = link_to 'Закрыть', admin_finished_ticket_path(ticket.ticket_name), class: 'btn btn btn-warning btn-sm'
              .pull-right
                %p
                .well.center-block
                  = link_to 'Подробнее о заявке', admin_work_and_progress_ticket_path(ticket.ticket_name), class: 'btn btn btn-default btn-sm '
