.container
  .row.col-sm-12
    %h1= "Заявка №: #{@ticket.ticket_name}"

    %table.myTable
      %tr
        %td.tdname
          %strong= "Тема: "
        %td= "#{@ticket.subject}"
      %tr
        %td.tdname
          %strong= "Автор заявки: "
        %td= "#{@ticket.customer_name}"
      %tr
        %td.tdname
          %strong= "Email: "
        %td= "#{@ticket.customer_email}"
      %tr
        %td.tdname
          %strong= "Статус: "
        %td= "#{@ticket.status.name}"
      %tr
        - unless @ticket.team_id.blank?
          %td.tdname
            %strong= "Команда: "
          %td= "#{@ticket.team.name}"
      %tr
        - unless @ticket.user_id.blank?
          %td.tdname
            %strong= "Исполнитель: "
          %td= "#{@ticket.user.full_name}"
      %tr
        %td.tdname
          %strong= "Содержание: "
        %td= "#{@ticket.description}"

      = render 'admin/tickets/form'

.container
  .row.col-sm-12
    = render 'shared/ticketlog', {logs: @logs}