.container
  - if flash.any?
    .alert-block.page-header
      - flash.each do |name, msg|
        = content_tag :div, class: "alert #{name == :error ? 'alert-error' : 'alert-success' }" do
          %a.close{href: '#', data: {dismiss: 'alert'} } ×
          = msg

  .bs-docs-section
    .row.row-offcanvas.row-offcanvas-right
      .col-lg-12
        .page-header
      .col-xs-12.col-sm-12
        = yield
        = yield :scripts
